.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: white;
  z-index: 1;
}

.left-section {
  display: flex;
  align-items: center;
}
.menu {
  width: 24px;
  margin-left: 7px;
}

.youtubelogo {
  width: 40px;
  margin-left: 7px;
}
h3 {
  display: flex;
  margin-left: 0px;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 22px;
  left: 80px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
}

.searchbar {
  flex: 1;
  height: 36.5px;
  margin-left: 30px;
  border: 1px, solid, rgb(180, 179, 179);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  width: 0px;
}
.searchbar::placeholder {
  font-family: arial;
  font-size: 16px;
  padding-left: 10px;
}

.loupe {
  width: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-left: -2px;
}
.button-loupe {
  width: 50px;
}

.div-profile,
.div-notification,
.div-youtubeapp,
.div-upload,
.button-mic,
.button-loupe {
  display: flex;
  justify-content: center;
  position: relative;
}
.div-profile .tooltip,
.div-notification .tooltip,
.div-youtubeapp .tooltip,
.div-upload .tooltip,
.button-mic .tooltip,
.button-loupe .tooltip {
  background-color: grey;
  font-size: 18px;
  color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  bottom: -35px;
  right: -35px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.div-profile:hover .tooltip,
.div-notification:hover .tooltip,
.div-youtubeapp:hover .tooltip,
.div-upload:hover .tooltip,
.button-mic:hover .tooltip,
.button-loupe:hover .tooltip {
  opacity: 1;
}

.button-mic {
  width: 40px;
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 22px;
  border: none;
}

.mic {
  width: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 30px;
  flex-shrink: 0;
}
.upload,
.notification,
.youtubeapp,
.headerprofilepicture {
  height: 24px;
}
.headerprofilepicture {
  border-radius: 25px;
}
.sidebar {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  width: 70px;
}
.div-facebook,
.div-instagram,
.div-twitter,
.div-gmail,
.div-youtube,
.div-Application {
  font-family: arial;
  font-size: 8px;
  height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.facebook,
.instagram,
.twitter,
.gmail,
.youtube,
.Application {
  height: 24px;
}
.div-not {
  position: relative;
}
.no {
  color: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 3px;
  background: rgb(156, 12, 12);
  border: 1px solid, none;
  position: absolute;
  top: -8px;
  right: -1px;
}
