button:nth-of-type(1){
    background: rgb(206, 13, 13);
    border: none;
    color: white;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: opacity 0.15s;
}
button:nth-of-type(1):hover{
    opacity:0.7

}

button:nth-of-type(1):active{
    opacity:0.4

}

button:nth-of-type(2){
    background: white;
    color: rgb(24, 134, 207);
    border: 1px solid rgb(24, 134, 207);
    border-radius: 2px;
    font-size: 12px;
    font-weight:lighter;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-left: 3px;
    transition: background-color 0.1s,
    color 0.1s;
}

button:nth-of-type(2):hover{
   background-color: rgb(24, 134, 207);
   color: white;
}
button:nth-of-type(2):active{
    opacity:0.4;
}

button:nth-of-type(3){
    background: rgb(24, 134, 207);
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 12px;
    font-weight:bold;
    padding: 7px 14px 7px 14px;
    cursor: pointer;
    margin-left: 3px;
    transition: box-shadow 0.15s;
  
}
button:nth-of-type(3):hover{

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}