*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
    font-size: 14px;
}
.title{font-size: 18px;
    font-weight: bold;
  width: 280px;  
  margin-bottom: 3px;
}
.stat{
    margin-bottom: 5px;
    color: rgb(102, 101, 101);
}
.author{
    margin-bottom: 9px;
    color: rgb(102, 101, 101); 
}
.description{
    width: 300px;
    color: rgb(102, 101, 101);
    line-height: 20px;
}
.shop{font-size: 14px;
    background: rgb(143, 12, 12);
    color: white;
    margin: 0 15px 0 15px;
    padding: 15px 5px 15px 5px;
    text-align: center;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
}